.mat-form-field{
    font-size:14px;
    width:100%;
}
.label-style{
    font-size: 15px;
    line-height: 24px;
    color: #757575;
    font-weight: 600;
    /* padding:5px 0 5px 0; */
  }
  .heading{
    font-size:16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight:600;
    font-family:"Noto Sans";
}
.btn-style{
    width:100px;
    float:right;
    height:30px;
    border: 2px solid #007abc;
    line-height:24px;
    font-size:14px;
    color:#007abc;
    font-weight:500;
    font-family:"Noto Sans";
  }
  .example-radio-group {
    display: flex;
    flex-direction: row;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  /* .label-style1{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #757575;
    font-weight: 500;
  } */