<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-sm-12">
            <span class="heading" style="float:left;">
                {{formName}}
            </span>
            <button mat-stroked-button class='btn-style' id="edit-btn" (click)="changeMode()">Edit</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <ng-container *ngFor="let item of fields;let i=index">
            <div class="col-sm-6 mb-4">
                <div class="label-style">{{item.question_str}}<span *ngIf="item.is_required">*</span></div>
                <div *ngIf="isReadOnly" class="label-style" style="color:#333333">{{item.answer}}</div>
                <div *ngIf="!isReadOnly">
                <mat-form-field appearance="outline" 
                    *ngIf="item.input_field_type=='text' || item.input_field_type=='email' || item.input_field_type=='phonenumber'">
                    <input matInput type="item.input_field_type"
                        formControlName="{{item.question_str}}" [id]="item.question_str">
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="item.input_field_type=='calendar'" [id]="item.question_str">
                    <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter"
                        formControlName="{{item.question_str}}" [id]="item.question_str">
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="item.input_field_type=='dropdown'">
                    <mat-select disableOptionCentering 
                        formControlName="{{item.question_str}}" [id]="item.question_str">
                        <mat-option *ngFor="let list of item.question_values" [id]="list" [value]="list" style="height: 2.5em;">
                            {{list}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="item.input_field_type=='textarea'">
                    <textarea matInput  formControlName="{{item.question_str}}" [id]="item.question_str"></textarea>
                </mat-form-field>            
                    <mat-radio-group  *ngIf="item.input_field_type=='radio'" [id]="item.question_str" aria-labelledby="example-radio-group-label" class="example-radio-group"
                        style="font-size:14px;" formControlName="{{item.question_str}}">
                        <mat-radio-button class="example-radio-button" [id]="list" *ngFor="let list of item.question_values" [value]="list">
                            {{list}}
                        </mat-radio-button>
                    </mat-radio-group>
            </div>
            </div>
        </ng-container>
    </div>
    <hr *ngIf="!isReadOnly">
    <div class="row" *ngIf="!isReadOnly">
        <div class="col-sm-12" style="float:right">
            <button mat-stroked-button class='btn-style' id="save-btn" style="background-color: #007abc;color:white;" (click)="save()">Save</button>
            <button mat-stroked-button class='btn-style mr-3' id="discard-btn" (click)="isReadOnly=true;">Discard</button>
    </div>
    </div>
</form>