.example-spacer {
    flex: 1 1 auto;
  }
  .btn-style{
    width:120px;
    float:right;
    border: 2px solid #007abc;
    line-height:30px;
    font-size:14px;
    color:#007abc;
    font-weight:500;
    /* font-family:"Noto Sans"; */
  }
.mat-stroked-button:hover{
    background-color: #007abc;
    color:white;
}