<mat-toolbar class="fixed-header" style="height: 60px;background-color: white;color:black;filter:drop-shadow(0 0 5px rgba(0,0,0,0.2))">
  <div class="container">
    <img src="assets/Logo_.png" alt="image">
    <a routerLink="/"><button mat-stroked-button class='btn-style' id="help-btn">Home</button></a>
</div> 
</mat-toolbar>
<router-outlet></router-outlet>
