<div class="container">
    <div class="row ">
        <div class="col-sm-8 mt-3">
            <div class="heading">File a Claim - POC - Demo - 1</div>
            <p class="sub-heading">Tell us about your policy details. This is important for both of us.</p>
            <mat-card class="shadow mt-3 ml-3 mr-3 mb-0 mainCard"  *ngIf="stepper.selectedIndex!=3">
                <app-reasons [reasonFormGroup]="reasonFormGroup" [reasonInput]="reasonList"
                    *ngIf="stepper.selectedIndex==0"></app-reasons>
                <app-date-select [formGroup]="dateFormGroup" *ngIf="stepper.selectedIndex==1"></app-date-select>
                <app-question-form [fields]="get" [formGroup]="detailsFormGroup" *ngIf="stepper.selectedIndex==2">
                </app-question-form>

            </mat-card>
           <div class="mainCard" *ngIf='pushValues && stepper.selectedIndex==3' style="padding:0rem;">
            <mat-card class="shadow mt-3 ml-3 mr-3 mb-0" >
                <app-review [fields]="reason" [formGroup]="reasonFormGroup"
                    *ngIf='pushValues && stepper.selectedIndex==3' [formName]="'Reason for Absence'"></app-review>
            </mat-card>
            <mat-card class="shadow mt-3 ml-3 mr-3 mb-0" >
                <app-review [fields]="dateDetails" [formGroup]="dateFormGroup"
                    *ngIf='pushValues && stepper.selectedIndex==3' [formName]="'Date of Absence'"></app-review>
            </mat-card>
            <mat-card class="shadow mt-3 ml-3 mr-3 mb-0" >
                <app-review [fields]="get" [formGroup]="detailsFormGroup"
                    *ngIf='pushValues && stepper.selectedIndex==3' [formName]="'Personal Details'"></app-review>
            </mat-card>
        </div>
            <div>
                <mat-card class="btn-footer">
                    <button (click)="goBack(stepper)" class='btn-style mr-3' id="prev-btn" *ngIf="stepper.selectedIndex != 0"
                        mat-stroked-button>
                        <img src="assets/back_arrow.png" alt="image">
                        &nbsp;Previous</button>
                    <button (click)="goForward(stepper)" class='btn-style' id="next-btn"
                        style="background-color: #007abc;color:white;" *ngIf="stepper.selectedIndex != 3"
                        mat-stroked-button>
                        Next &nbsp;
                        <img src="assets/next-arrow.png" alt="image">
                    </button>
                    <button (click)="saveForm()" class='btn-style' id="submit-btn"
                        style="background-color: #007abc;color:white;" *ngIf="stepper.selectedIndex == 3"
                        mat-stroked-button>
                        Submit 
                    </button>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-4">
            <mat-card class="shadow" style="top:0px;height:calc(100vh - 60px);">
                <mat-horizontal-stepper [linear]="isLinear" #stepper style="height:100%" [disableRipple]="true">
                    <mat-step [stepControl]="reasonFormGroup">
                        <app-stepper-content [stepName]="'Reason for Absence'" [src]="'assets/Reason for absence.png'">
                        </app-stepper-content>
                    </mat-step>
                    <mat-step [stepControl]="dateFormGroup">
                        <app-stepper-content [stepName]="'Date of Absence'" [src]="'assets/Date of absence.png'">
                        </app-stepper-content>
                    </mat-step>
                    <mat-step [stepControl]="detailsFormGroup">
                        <app-stepper-content [stepName]="'Personal details'" [src]="'assets/Personal_details.png'">
                        </app-stepper-content>
                    </mat-step>
                    <mat-step [stepControl]="detailsFormGroup">
                        <app-stepper-content [stepName]="'Review & Submit'" [src]="'assets/Review&submit_tab icon.png'">
                        </app-stepper-content>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card>
        </div>
    </div>
</div>
<!-- <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step>
                            <ng-template matStepLabel>Select Company</ng-template>
                            <mat-form-field appearance="outline" style="font-size:14px;">
                                <mat-label>Select Company</mat-label>
                                <mat-select disableOptionCentering  required [formControl]="company">
                                    <mat-option *ngFor="let item of companyList" [value]="item" style="height: 2.5em;">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                                 <button mat-button matStepperNext>Next</button>
                            </div>
                    </mat-step>
                    <mat-step [stepControl]="reasonFormGroup">
                        <ng-template matStepLabel>Reason for Absence</ng-template>
                        <app-reasons [reasonFormGroup]="reasonFormGroup"></app-reasons>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                             <button mat-button matStepperNext (click)="checkValues()">Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="dateFormGroup">
                        <ng-template matStepLabel>Date of Absence</ng-template>
                        <app-date-select [formGroup]="dateFormGroup"></app-date-select>
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext (click)="checkValues1()">Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Personal Deatils</ng-template>
                        <app-question-form [fields]="get" [formGroup]="detailsFormGroup" ></app-question-form>
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext (click)="getDetails()">Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Review & Submit</ng-template>                   
                      <app-review [fields]="get" [formGroup]="detailsFormGroup" *ngIf='pushValues'></app-review>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-horizontal-stepper> -->