.btn-style {
  width: 160px;
  float: right;
  height: 40px;
  border: 2px solid #007abc;
  line-height: 30px;
  font-size: 14px;
  color: #078cbdea;
  font-weight: 550;
  font-family: "Noto Sans";
}
/* .mat-stroked-button:hover{
    background-color: #007abc;
    color:white;
} */
.heading {
  font-size: 28px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 24px;
  color: #333333;
  font-weight: 600;
  font-family: "Noto Sans";
}
.sub-heading {
  font-size: 13px;
  padding-bottom: 5px;
  padding-top: 5px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #aeaeae;
  font-weight: 400;
  font-family: "Noto Sans";
}
.mainCard {
  top: 0px;
  height: calc(100vh - 230px);
  overflow-y: auto;
  padding: 2rem;
}
.container {
  overflow-y: hidden;
}
::ng-deep.mat-horizontal-content-container,
::ng-deep.mat-horizontal-stepper-content {
  height: 100%;
}
.btn-footer {
  bottom: 0px;
  height: 4.35rem;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
::ng-deep .mat-step-header:hover {
  background-color: transparent;
}
::ng-deep.mat-horizontal-stepper-header .mat-step-icon-selected,
::ng-deep.mat-step-header .mat-step-icon-state-edit {
  background-color: #007abc;
}
