<div class="questions">
    <form [formGroup]="formGroup">
        <div class="row">
            <ng-container *ngFor="let item of fields">
                <div class="col-6" *ngIf="item.input_field_type!='textarea'">
                    <div
                        *ngIf="item.input_field_type=='text' || item.input_field_type=='email' || item.input_field_type=='phonenumber'">
                        <mat-form-field appearance="outline" style="font-size:14px;">
                            <mat-label>{{item.question_str}}</mat-label>
                            <input matInput placeholder="Placeholder" [id]="item.question_str" type="item.input_field_type"
                                [required]='item.is_required'  formControlName="{{item.question_str}}">
                        </mat-form-field>
                    </div>
                    <div *ngIf="item.input_field_type=='calendar'">
                        <mat-form-field appearance="outline" style="font-size:14px;">
                            <mat-label>{{item.question_str}}</mat-label>
                            <input matInput [matDatepicker]="picker" [id]="item.question_str" [required]='item.is_required'
                                formControlName="{{item.question_str}}" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngIf="item.input_field_type=='dropdown'">
                        <mat-form-field appearance="outline" style="font-size:14px;">
                            <mat-label>{{item.question_str}}</mat-label>
                            <mat-select disableOptionCentering [required]='item.is_required'
                                formControlName="{{item.question_str}}" [id]="item.question_str">
                                <mat-option *ngFor="let list of item.question_values" [id]="list" [value]="list"
                                    style="height: 2.5em;">
                                    {{list}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="item.input_field_type=='radio'">
                        <label class="mb-0 label-style">Type of absence*</label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            style="font-size:14px;" formControlName="{{item.question_str}}" [id]="item.question_str">
                            <mat-radio-button class="example-radio-button" [id]="list" *ngFor="let list of item.question_values" [value]="item">
                                {{list}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="item.input_field_type=='textarea'">
                    <mat-form-field appearance="outline" style="font-size:14px;" >
                        <mat-label>{{item.question_str}}</mat-label>
                        <textarea matInput [required]='item.is_required' [id]="item.question_str"
                            formControlName="{{item.question_str}}"></textarea>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
    </form>
</div>