<div class="container" style="height: calc(100vh - 60px);">
    <div class="row" style="height:100%">
        <div class="col-sm-12 d-flex flex-row justify-content-around align-items-center">
            <div>
                <a class="d-flex flex-column justify-content-center" id="admin" style="text-transform: none;" routerLink="/admin">
                    <span class="material-icons icon-style">admin_panel_settings</span>
                    <span class="span-style">Admin</span>
                </a>
            </div>
            <div>
                <a class="d-flex flex-column justify-content-center" id="user" style="text-transform: none;" routerLink="/claim">
                    <span class="material-icons icon-style">account_circle</span>
                    <span class="span-style">User</span>
                </a>
            </div>
        </div>
    </div>
</div>