.icon-style{
    color:#007abc;
    font-size:120px !important;
}
a:hover{
    cursor: pointer;
    filter:drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    text-decoration: none;
}
/* mat-icon:hover{
} */
.span-style{
    font-size:20px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #333333;
    font-weight:600;
    font-family:"Noto Sans";
    text-align: center;
}
