<form [formGroup]="reasonFormGroup" *ngIf="reasonFormGroup">
    <div class="row">
        <div class="col-sm-6">
    <mat-form-field appearance="outline" style="font-size:14px;width:100%">
        <mat-label>Reason for Absence</mat-label>
        <mat-select disableOptionCentering formControlName="Reason for Absence" required id="reason-dropdown">
            <mat-option *ngFor="let item of reasonList" [value]="item" style="font-size:14px;height: 2.5em;">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
    <div class="col-sm-6">
        <label class="mb-0 label-style">Type of absence*</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" style="font-size:14px;"
            formControlName="Type of Absence" id="type-radio">
            <mat-radio-button class="example-radio-button" *ngFor="let item of typeList" [id]="item" [value]="item">
                {{item}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
</form>