.example-radio-group {
    display: flex;
    flex-direction: row;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .label-style{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #757575;
    font-weight: 500;
  }
