.heading{
    font-size:20px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 24px;
    color: #333333;
    font-weight:600;
    font-family:"Noto Sans";
}
.label-style{
    font-size: 15px;
    line-height: 24px;
    color: #757575;
    font-weight: 600;
    /* padding:5px 0 5px 0; */
  }
  .mat-form-field{
      width:100%;
      font-size:14px;
  }
  .btn-style{
    width:100px;
    float:right;
    height:30px;
    border: 2px solid #007abc;
    line-height:24px;
    font-size:14px;
    color:#007abc;
    font-weight:500;
    font-family:"Noto Sans";
  }