<div class="container mt-3">
  <div class="heading mb-3">Configure Components</div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="label-style" style="color:black">
          Leave Calendar
        </mat-panel-title>
        <mat-panel-description class="label-style">
          Click here to add rules
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="leaveFormGroup" #formDirective1="ngForm" (ngSubmit)="saveCalendarForm(formDirective1)">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field appearance="outline">
                <mat-label>Select Country</mat-label>
                <mat-select disableOptionCentering formControlName="country" [required]='true'  id="country">
                  <mat-option *ngFor="let list of countryList" [value]="list" style="height: 2.5em;">
                    {{list}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-9 d-flex flex-row">
              <mat-form-field appearance="outline" class="mr-3" id="rule">
                <mat-label>Rule Description</mat-label>
                <input matInput placeholder="Placeholder" id="rule" type="text" [required]='true' formControlName="description">
              </mat-form-field>
              <mat-form-field appearance="outline" id="date">
                <mat-label>Select Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="hldy_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class='btn-style' id="submit-btn-1" style="background-color: #007abc;color:white;" mat-stroked-button>
                Submit
              </button>
              <button (click)="discard1()" type="reset" id="discard-btn-1" class='btn-style mr-3' mat-stroked-button>
                Discard
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="label-style" style="color:black">
          Product Questions
        </mat-panel-title>
        <mat-panel-description class="label-style">
          Add Questions
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="questionFormGroup" #formDirective="ngForm" (ngSubmit)="saveForm(formDirective)">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field appearance="outline" id="product">
                <mat-label>Select Product</mat-label>
                <mat-select disableOptionCentering [required]='true' formControlName="product" id="product-select">
                  <mat-option *ngFor="let list of products" [value]="list" style="height: 2.5em;">
                    {{list}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline" id="question">
                <mat-label>Question</mat-label>
                <input matInput placeholder="Placeholder" id="question-input" type="text" [required]='true' formControlName="question_str">
              </mat-form-field>
            </div>
            <div class="col-sm-3 mt-3">
              <mat-checkbox formControlName="is_required">is Mandatory?</mat-checkbox>
            </div>
            <div class="col-sm-3">
              <mat-form-field appearance="outline" id="answer-type">
                <mat-label>Answer Field type</mat-label>
                <mat-select disableOptionCentering [required]='true' id="answer-type-select" formControlName="input_field_type"
                  (selectionChange)="selectionChange($event.value)">
                  <mat-option *ngFor="let list of inputType" [value]="list" style="height: 2.5em;">
                    {{list | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-3  mt-3">
            <mat-checkbox  formControlName="is_multivalued"  (change)="checkBoxChange($event.checked)">is Multivalued Question?</mat-checkbox>
          </div> -->
            <div class="col-sm-6" *ngIf="isMulti">
              <mat-form-field class="example-chip-list" appearance="outline" id="options">
                <mat-label>Add Options</mat-label>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let value of questionValues" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(value)">
                    {{value}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Add New value and click enter" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class='btn-style' id="submit-btn-2" style="background-color: #007abc;color:white;" mat-stroked-button>
                Submit
              </button>
              <button (click)="discard()" type="reset" id="discard-btn-2" class='btn-style mr-3' mat-stroked-button>
                Discard
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <a routerLink="/claim"><button class='btn-style mt-3' id="claim-btn" style="width:180px;height:40px;line-height:30px;
  background-color: #007abc;color:white;" mat-stroked-button>
    Go to Claim Process
  </button></a> -->
</div>