<form [formGroup]="formGroup">
    <mat-form-field class="col-sm-12" appearance="outline" style="font-size:14px;width:100%">
        <mat-label>Start Date of Absence</mat-label>
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" formControlName="Start Date of Absence" id="start-date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>