/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Noto Sans", sans-serif;');
@include mat-core($custom-typography);

html, body { height: 100%; background-color: #f6f6f6;}
body { margin: 0;  font-family:"Noto Sans"; }
*:focus {
    outline: none !important;
    /* background-color: transparent !important; */
  }
  ::-webkit-scrollbar
  {
    width: 10px;  /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
  }
  ::-webkit-scrollbar-track {
    background:rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  // .mat-form-field{
  //   border:1px solid #333333 !important;
  // }
//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     color:#333333 !important;
// }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-outer-circle{
  border-color: #007abc !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle{
  background-color: #007abc !important;
}
.notif-success{
  color:  white!important; // green
  // background-color: #007abc!important;
  // // border-color: #007abc !important;
  // // border: 2px solid #007abc;
  font-weight:500;
  .mat-simple-snackbar-action {
      color:white!important;
      font-weight:600 !important;
  }
}