.stepper{
    height:80%;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.subtext{
    font-size:15px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #aeaeaa;
    font-weight:500;
    font-family:"Noto Sans";
}
.heading{
    font-size:16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight:600;
    font-family:"Noto Sans";
}
.footer{
    height:10%; 
    text-align:center;
    bottom:0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}