<div class="stepper">
    <div><img src="{{src}}" alt="image"></div>
    <div class="heading">{{stepName}}</div>
    <div class="subtext">Fill out form on the left</div>
</div>
<div class="subtext footer">
    Copyrights Metlife 2020
</div>